* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container {
    background-color: rgba(0,0,0,.03);
    
}

#navigation {
    width: 100%;
    height: 200px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
}

.header-menu-list {
    width: 1188px;
    min-width: 1188px;
    margin: 0 auto;
}

.header-menu-list ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 12px;
    

}

.sub-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: #c4c4c4;
    font-weight: bold;
}